@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap");

$fontSize-small: 14px;

$fontSize-normal: 18px;
$fontSize-header: 30px;

$fontSize-h1: 44px;
$fontSize-h1-mobile: 24px;

$fontSize-h3: 24px;
$fontSize-h3-mobile: 16px;

$fontSize-h4: 22px;
$fontSize-h4-mobile: 16px;

$fontSize-button: 20px;
$fontSize-button-mobile: 16px;

$font-main: "Josefin Sans", sans-serif;
$font-button: "Josefin Sans", sans-serif;
