@import "./settings/settings";

// Pages
@import "./pages/home.scss";

/////////////
// Global///
////////////

.__content {
  width: 92%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $breakpoint-md) {
    width: 62%;
  }

  button,
  .button {
    padding: 0.8em 3em;
    margin-left: 0px;
    font-size: $fontSize-normal;
    background-color: $color-secondary;
    box-shadow: inset 0px -5px 0px rgb(162 76 58 / 60%);
    border: none;
    color: $background-color-primary;
    font-family: $font-main;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;

    @media only screen and (min-width: $breakpoint-md) {
      margin-top: 0px;
      margin-left: 24px;
    }

    &:hover {
      background-color: $color-secondary;
      box-shadow: none;
    }
  }

  input[type=email] {
    padding: 1.3em 2em;
    border-radius: 6px;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

///////////
// Utils //
///////////

.mailchimpForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .emailStatus {
    max-width: 240px;
    margin-top: 20px;

    @media only screen and (min-width: $breakpoint-md) {
      max-width: 540px;
    }
  }

  input {
    background-color: $background-color-primary;
    border: 2px solid #4a4a4a;
    border-radius: 6px;
    padding: 1.2em 1em;
    font-family: $font-main;
    width: 240px;
    color: $font-color-primary;

    &:focus {
      outline: none;
    }
  }
}

////////////
// FOOTER //
////////////

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-secondary;

  .logo {
    max-width: 280px;
    height: auto;
  }

  .divider {
    object-fit: cover;
    width: 100%;
    padding-bottom: 64px;
  }

  .contact {
    font-size: $fontSize-h3;
    margin-bottom: 0px;
  }
}